.app-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1pt solid gray;

    .google-auth {
      float: right;
    }

    .app-header-octopus-icon {
        width: 25px;
        height: 25px;
        float: left;
    }

    .app-header-title {
        font-size: 25px;
        font-weight: bold;
    }
}
