.app-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1pt solid gray;    

    .app-header-octopus-icon {
        width: 25px;
        height: 25px;
        float: left;
    }

    .app-header-account-icon {
        width: 30px;
        height: 30px;
        float: right;
    }

    .app-header-title {
        font-size: 25px;
        font-weight: bold;
    }
}
