.login {
    div:first {
        margin: 20px;   
    }

    button {
        border-radius: 5%;
        min-width: 70px;
        margin: 5px;
    }

    .message {
        // padding-bottom: 5px; 
        // text-align: center;

        &.error { 
            color: red
        }

        &.success {
            color: green;
        }
    }
}
