<div class="login">
  <div>
    <!-- <mat-form-field>
      <input matInput placeholder="User Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password">
    </mat-form-field>
    
    <div>
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="secondary">Register</button>
    </div> -->
  </div>
  <div>
    <div>
      Welcome ! Aditya
    </div>
    <div>
        <button mat-raised-button color="primary">Logout</button>
    </div>
  </div>
</div>
