<div class="paul-match">
  <div class="container match">
      <div class="row header" [ngClass]="{'header-semiFinal': isSemiFinal, 'header-Final': isFinal}">
        <div class="col date">
          {{ match.datetime | date:'EEEE' }}
          , <strong>{{ match.datetime | date: 'MMMM d, y' }}</strong>
        </div>
        <div class="col-4 col-points">
            <span class="points" *ngIf="match.result && authService.authStatus" [ngClass]="{'positive-points': match.points >= 0, 'negative-points': match.points < 0 }">
              {{match.points >= 0 ? '+' : ''}}{{ match.points | number }} 
            </span>
        </div>
      </div>  
      <div class="row teams-info">
        <div class="col">
          <div [ngClass]="{'winning-team': match.team1_id===match.result}">
            
            <img src="{{'/assets/icons/' + match.team1_id.toLowerCase() + '.png'}}" class="team-logo" />
            <span>
              {{ match.team1_id }}
            </span>
          </div>
        </div>
        <div class="col-1 col-bet">
          <span class="bet" *ngIf="match.favTeam1 > -1">
            ({{match.favTeam1}})
          </span>
        </div>
        <div class="col-2 choice-slider">
          <mat-slider min="0" max="2" step="1" [(ngModel)]="match.sliderValue" *ngIf="authService.authStatus"
            (change)="choiceChanged(match, $event)"
            disabled="{{match.choiceChangeDisabled}}"></mat-slider>
          
          <span *ngIf="!authService.authStatus">vs</span>
        </div>
        <div class="col-1 col-bet">
          <span class="bet" *ngIf="match.favTeam2 > -1">
            ({{match.favTeam2}})
          </span>
        </div>
        <div class="col">
          <div [ngClass]="{'winning-team': match.team2_id===match.result}">
            <img src="{{'/assets/icons/' + match.team2_id.toLowerCase() + '.png'}}" class="team-logo" />
            <span>
              {{ match.team2_id }}
            </span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container better-list">
      <paul-betters-list *ngIf="match.choiceChangeDisabled && authService.authStatus" 
        [match]="match">
      </paul-betters-list>
    </div>    
</div>
