.paul-match {
    .match {
        font-family: Roboto,"Helvetica Neue",sans-serif;
        border: 1pt solid #f2f3f4;

        .row {
            align-items: center;

            &.header {
                background-color: lightgray;
            }
        }

        .col {
            &.date {
                font-size: 0.8rem;
            }

            .winning-team {
                border: 1pt solid green;
                border-radius: 50%;
            }
        }

        .points {
            width: 50px;
            height: 15px;
            display: block;
            border-radius: 15%;
            text-align: center;
            color: white;
            font-size: 12px;

            &.positive-points {                
                background-color: green;
            }

            &.negative-points {                
                background-color: red;
            }
        }

        .col-points {
            text-align: center;
        }

        .row.teams-info {
            border-top: 1pt solid #f2f3f4;
            border-bottom: 1pt solid #f2f3f4;

            .col {
                text-align: center;
            }
        }

        .team-logo {
            height: 50px;
        }
    }
}