.paul-leader-board {
    .table-header {
        font-weight: bold;
        font-size: 0.9rem;
    }

    .row {
        border-bottom: 1pt solid #f2f3f4;
    }

    .picture-url {
        width: 20px;
        border-radius: 80%;
    }

    .bold {
        font-weight: bold;
    }
}