<div id="g_id_onload"
  data-client_id="169706668013-mvf7ct27e5n709k27cdqd2ostnvoe1qm.apps.googleusercontent.com"
  data-callback="handleCredentialResponse">
</div>

<div [ngClass]="{ 'hidden': loggedIn }">
  <div class="g_id_signin"
    data-type="icon"
    data-size="medium"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
  </div>
</div>

<a id="btnProfile" *ngIf="loggedIn" class="profile-icon" (click)="displayProfile()">
  <img src='{{profileInfo.pictureUrl}}' />
</a>

<div class="popout" [ngClass]="{'display-popup': loggedIn && popout}">
  <div class="user-info">
    <img src='{{profileInfo.pictureUrl}}' class="profile-image" />

    <div class="name">
      {{ profileInfo.name }}
    </div>
  </div>

  <div class="actions">
    <!-- <button mat-button (click)="signOut()">
      Logout
    </button> -->

    <button mat-button (click)="closePopup()">
      Close
    </button>
  </div>
</div>
