.betters-list {
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif;

    .mat-expansion-panel-header {
        font-weight: bold;
    }

    .mat-expansion-panel-header, .mat-expansion-panel-content {
        font-size: 12px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    }

    mat-grid-tile {
        background: lightblue;
        font-size: 12px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    }

    .row {
        margin: 5px;
        font-size: 12px;
        font-family: Roboto,"Helvetica Neue",sans-serif;

        &.better-team1 {
            border-bottom: 1pt solid #f2f3f4;
        }
    }

    .loading {
        text-align: center;

        .mat-progress-spinner {
            display: inline-block;
            margin: 0;
        }
    }
}