<div class="paul-home">

    <mat-tab-group>
      <mat-tab label="Home">

        <paul-match-list header="Locked Bet" [matches]="currentBet" 
          *ngIf="currentBet && currentBet.length > 0">
        </paul-match-list>
      
        <paul-match-list header="Upcoming Matches" [matches]="upcomingMatches" [displayOnly]="2" 
          *ngIf="upcomingMatches && upcomingMatches.length > 0">
        </paul-match-list>
      
        <paul-match-list header="Recent Matches" [matches]="recentMatches" [displayOnly]="3"
          *ngIf="recentMatches && recentMatches.length > 0">
        </paul-match-list>

      </mat-tab>
      <mat-tab label="Matches">
        <paul-match-list header="All Matches" [matches]="matches">
        </paul-match-list>
      </mat-tab>
      <mat-tab label="Leaders Board">
        <paul-leader-board>
        </paul-leader-board>
      </mat-tab>
    </mat-tab-group>
</div>
